* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.heading {
  font-family: 'roboto';
  font-size: 35px;
  color: #171f46;
  text-align: center;
}

.para {
  font-family: 'roboto';
  font-size: 20px;
  color: #64748b;
  width: 70%;
  text-align: center;
}

.cardpositions {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4faff;
}

@media (max-width: 991px) {
  .cardpositions {
    flex-direction: column;
  }
}
